@model DroneComponentsInventory.Models.FPVGogglesComponent

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>FPVGogglesComponent</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VideoSystem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VideoSystem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisplayType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisplayType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScreenSizeInch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScreenSizeInch)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Resolution)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Resolution)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LatencyMs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LatencyMs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceiverType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceiverType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiversityAntennas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiversityAntennas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeightGrams)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeightGrams)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DvrCapability)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DvrCapability)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BatteryLifeHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BatteryLifeHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PowerInput)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PowerInput)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IPDAdjustable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IPDAdjustable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FPVGogglesId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
