@model DroneComponentsInventory.Models.MotorsComponent

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>MotorsComponent</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatorSizeMm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatorSizeMm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MountPattern)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MountPattern)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeightG)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeightG)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecommendedVoltageS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecommendedVoltageS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecommendedPropInch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecommendedPropInch)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxThrustG)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxThrustG)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MotorId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
