@model IEnumerable<DroneComponentsInventory.Models.ReceiverAntennaComponent>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FrequencyBand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Polarization)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Connector)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConnectorGender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GainDbi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RadiationPattern)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompatibleReceivers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MountType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CableLengthMm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WeightG)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LengthMm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FrequencyBand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Polarization)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Connector)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConnectorGender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GainDbi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RadiationPattern)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompatibleReceivers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MountType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CableLengthMm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeightG)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LengthMm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReceiverAntennaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ReceiverAntennaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ReceiverAntennaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
