@model DroneComponentsInventory.Models.PropellersComponent

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>PropellersComponent</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiameterMm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiameterMm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PitchInch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PitchInch)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BladeCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BladeCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Material)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Material)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShaftDiameterMm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShaftDiameterMm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RotationDirection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RotationDirection)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecommendedMotorSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecommendedMotorSize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecommendedMotorKv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecommendedMotorKv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FrameClass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FrameClass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeightG)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeightG)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ColorOptions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ColorOptions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IncludedQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IncludedQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PropellerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
