@model DroneComponentsInventory.Models.VideoTransmitterComponent

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>VideoTransmitterComponent</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxPowerMw)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxPowerMw)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VoltageInputS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VoltageInputS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MountPatternMm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MountPatternMm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ControlProtocols)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ControlProtocols)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AntennaConnector)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AntennaConnector)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeightG)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeightG)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.VtxId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
