@model DroneComponentsInventory.Models.VideoAntennaComponent

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>VideoAntennaComponent</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AntennaClass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AntennaClass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Polarization)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Polarization)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Connector)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Connector)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GainDbi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GainDbi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AxialRatio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AxialRatio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RadiationPattern)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RadiationPattern)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OperatingFrequencyMhz)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OperatingFrequencyMhz)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeightGrams)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeightGrams)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AntennaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
