@model DroneComponentsInventory.Models.FrameComponent

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>FrameComponent</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WheelbaseMm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WheelbaseMm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxPropInch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxPropInch)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Geometry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Geometry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Material)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Material)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeightG)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeightG)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArmThicknessMm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArmThicknessMm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MotorMountPattern)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MotorMountPattern)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FcMountPattern)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FcMountPattern)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxStackHeightMm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxStackHeightMm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FrameId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
