@model DroneComponentsInventory.Models.RadioControllerComponent

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>RadioControllerComponent</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ControllerStyle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ControllerStyle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FrequencyGhz)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FrequencyGhz)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProtocolsSupported)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProtocolsSupported)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxChannels)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxChannels)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OutputPowerMw)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OutputPowerMw)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelemetrySupport)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelemetrySupport)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScreenType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScreenType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GimbalType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GimbalType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BatteryType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BatteryType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeightG)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeightG)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirmwareSupport)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirmwareSupport)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RadioControllerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
